{% extends "main/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<script>
    $(document).ready(function(){
      var new_action_value = "/addItem/" + $("#header1").text();
      $("#form1").attr("action", new_action_value);
    });
</script>


<div class="container my-1 py-1 z-depth-1">

  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row d-flex justify-content-left">

          <!--Grid column-->
          <div class="col-md-6">
              <form action="" method="post" class="form-group">
              <h1 id="header1"> {{form_name}} </h1>
              <p></p>
              <p></p>
              {% csrf_token %}
              {{form|crispy}}
              <button name="submit" class="btn btn-success">Add item</button>
              </form>
          </div>
      </div>
  </section>
</div>

{% endblock content %}