{% load bootstrap4 %}
{% load static %}
{% load compress %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Durian Garden</title>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <!-- jQuery with AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
    </script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
    </script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% compress css %}
    <link type="text/x-scss" rel="stylesheet" href="{% static 'main/css/style.scss' %}">
    {% endcompress %}
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> 
</head>

<style>
/* ---------------------------------------------------
    RIGHT NAV BAR STYLE
----------------------------------------------------- */
.navbar-default{background:#3285D1;border-color: #3285D1;}
/*.navbar-default .navbar-nav > li > a{color:gray;}
.nav > li > a{top:15px; font-size: 17px; color:#FFF;}*/
.nav .open > a, .nav .open > a:hover, 
.nav .open > a:focus,
.nav > li > a:hover, .nav > li > a:focus{background-color:transparent !important;}

.navbar-toggle{margin-top:20px !important;}
.dropdown-menu{
    position: relative;
    right: 0; left: auto;
    background:#fff !important;}
.navbar-login
{
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
</style>

<body>
    <div class="wrapper">

        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="{% url 'main:dashboard'%}">
                    <h3>DurianGarden</h3>
                    <strong>DG</strong>
                </a>
            </div>

            <ul class="list-unstyled components">
                <li class="{{dashboard}}">
                    <a href="{% url 'main:dashboard'%}">
                        <i class="fas fa-home"></i>
                        Dashboard
                    </a>
                </li>

                <li>
                    <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-users"></i>
                        User
                    </a>

                    <ul class="collapse list-unstyled" id="userSubmenu">
                        <li>
                            <a href="{% url 'main:userprofile_static'%}">User Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'account:register_main'%}">Add User</a>
                        </li>

                    </ul>
                </li>

                <li class="{{index}}">
                    <a href="{% url 'main:index'%}">
                        <i class="fas fa-copy"></i>
                        Category
                    </a>
                </li>

                <li class="{{supplier}}">
                    <a href="{% url 'main:supplier'%}">
                        <i class="fas fa-people-carry"></i>
                        Supplier
                    </a>
                </li>

                <li>
                <a href="#purchasesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-shopping-cart"></i>
                    Order/Purchases
                </a>
                <ul class="collapse list-unstyled" id="purchasesSubmenu">
                        <li>
                            <a href="{% url 'main:order'%}">Order</a>
                        </li>
                        <li>
                            <a href="{% url 'main:purchasing'%}">Purchases</a>
                        </li>
                </ul>
            </ul>

        </nav>
        <!-- Page Content  -->
        <main role="main" class="main_container" id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default nav-menu">
                
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <!-- Top-right Nav bar items -->
                    <div class = "collapse navbar-collapse button-menu" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            {% if request.user.is_superuser %}
                            <li class ="nav-item">
                                <a class="nav-link" href="{% url 'admin:index'%}">Manage User</a>
                            </li>
                            {% endif %}
                            <li class="dropdown nav-item">
                                <a href="#" class="button nav-link" data-toggle="dropdown">
                                    <span class="fas fa-user"></span> 
                                    {% if request.user.staff %}
                                    <strong> {{request.user.staff.name}}</strong>
                                    {% else %}
                                    <strong> {{request.user.username}}</strong>
                                    {% endif %}
                                    <span class="fas fa-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p class="text-center">
                                                    {% if request.user.is_superuser%}
                                                    <img src= "{% static 'images/userprofile.jpg' %}" alt="Default user profile picture" height="100" width="100">
                                                    {% elif request.user.staff.profile_pic %}
                                                    <img src= "{{ request.user.staff.profile_pic.url }}" alt="Default user profile picture" height="100" width="100">
                                                    {% else %}
                                                    <img src= "{% static 'images/userprofile.jpg' %}" alt="Default user profile picture" height="100" width="100">
                                                    {% endif %}
                                                    </p>
                                                </div>
                                                <div class="col-lg-8">
                                                    {% if request.user.staff %}
                                                    <p class="text-left small">{{request.user.staff.name}}</p>
                                                    <p class="text-left small">{{request.user.staff.email}}</p>
                                                    {% else %}
                                                    <p class="text-left"><strong>{{request.user.username}}</strong></p>
                                                    <p class="text-left small">{{request.user.email}}</p>
                                                    {% endif %}
                                                    <p class="text-left">
                                                        <a href="{% url 'account:logout' %}" class="btn btn-primary btn-block btn-sm"><em class="fas fa-sign-out-alt"></em> Logout</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="{% url 'main:userprofile_static' %}" class="btn btn-primary btn-block">My Profile</a>
                                                        <a href="{% url 'account:password_change' %}" class="btn btn-danger btn-block">Change Password</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Main Content -->
            
            {% block content %}

            {% endblock content %} 
           
    </main>
</div>
</body>

</html>