{% extends "main/base.html" %}
{% load static %}

{% block content %}
<style>
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

</style>
<div class="container mt-5">


  <!--Section: Content-->
  <section class="">

    <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-5">Categories</h2>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

        
          <article id = "cat" class="card" role="article">
            <a href="{% url 'main:irrigation' subcategory=iri_table_label %}">
              <div class="card-text">
                
                <h2 class="card-meta card-title">Irrigation</h2>
              </div>
              <img class="card-image" src="../static/images/irrigation.jpg" />
            </a>
          </article>
        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

        
          <article id = "cat" class="card" role="article">
            <a href="{% url 'main:plantation' subcategory=plant_table_label %}">
              <div class="card-text">
                
                <h2 class="card-meta card-title">Plantation</h2>
              </div>
              <img class="card-image" src="../static/images/plantation.jpg" />
            </a>
          </article>
        
        
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-0">

        
          <article id = "cat" class="card" role="article">
            <a href="{% url 'main:vehicle' subcategory=vehicle_table_label %}">
              <div class="card-text">
                
                <h2 class=" card-meta card-title">Vehicles</h2>
              </div>
              <img class="card-image" src="../static/images/vehicle.jpg" />
            </a>
          </article>
        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>
{% endblock content %}