{% extends "main/base.html" %}

{% block content %}
<div class="col-sm-4">
            <h2 class="text-center">Select Catagory</h2>

    <a href='supplier'><button class="btn btn-info my-4 btn-block" type="submit">Fertilizer</button></a>
    <a href='supplier'><button class="btn btn-info my-4 btn-block" type="submit">Fungicide</button></a>
    <a href='supplier'><button class="btn btn-info my-4 btn-block" type="submit">Pesticide</button></a>
    <a href='supplier'><button class="btn btn-info my-4 btn-block" type="submit">Surfacetant</button></a>
    <a href='supplier'><button class="btn btn-info my-4 btn-block" type="submit">Herbicide</button></a>



{% endblock content %}