{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .dropdown_menu{
        padding-left:15px;
        display: flex;
        justify-content: center;
        
    }

    .drop_item1{
        flex: 2;
        
    }

    .drop_item2{
        flex: 2;
        
    }

    .drop_submit{
        
    }


</style>
<body>
<h3 class="text-center font-weight-bold mb-5">Order</h3>

<form method="Post" action="" >
{% comment %} <div class = dropdown_menu> 
     <div class =drop_item1>
        <p>Select Category:</p>
        <select id="opts" onchange="showForm()">
        <option value="0">Select Option</option>
        <option value="1">Plantation</option>
        <option value="2">Irrigation</option>
        <option value="3">Vehicles</option>
        <option value="4">Others</option>
        
        </select>
    </div>
        <div id="f1" style="display:none" class = drop_item2>
            <p>Select Sub-category:</p>
            <form name="form1">
                
                <select id="opts" onchange="showForm()">
                    <option value="0">Select Option</option>
                    <option value="1">Fungicide</option>
                    <option value="3">Ferilizer</option>
                    <option value="4">Surfacetant</option>
                    <option value="5">Herbicide</option>
                    <option value="6">Pesticide</option>
                    <option value="7">Tools</option>
                    <option value="8">Consumables</option>
                </select>
            </form>
        </div>

        <div id="f2" style="display:none" class = drop_item2>
        <p>Select Sub-category:</p>
            <form name="form2">
                <select id="opts" onchange="showForm()">
                    <option value="0">Select Option</option>
                    <option value="1">Tools</option>
                </select>
            </form>
        </div>

        <div id="f3" style="display:none" class = drop_item2>
        <p>Select Sub-category:</p>
            <form name="form3">
                <select id="opts" onchange="showForm()">
                <option value="0">Select Option</option>
                <option value="1">Vehicle</option>
                <option value="2">Spareparts</option>
                <option value="3">Petrol Usage</option>
                </select>
            </form>
        </div>

        <div id="f4" style="display:none" class = drop_item2>
        <p>Select Sub-category:</p>
            <form name="form4">
                <select id="opts" onchange="showForm()">
                <option value="0">Select Option</option>
                <option value="1">Stationary</option>
                </select>
            </form>
        </div>
        <input type="submit" value="Submit"> 
        
</div>  {% endcomment %}
</form>

<div class="container my-5 py-5 z-depth-1">

    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
 

        <!--Grid row-->
        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-6">
                <form method="POST" class="form-group">
                    <p></p>
                    <p></p>
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" class="btn btn-success" value = "Submit">
                </form>
            </div>
        </div>
    </section>
</div>

{% comment %} <script type="text/javascript">
    function showForm() {
        var selopt = document.getElementById("opts").value;
        if (selopt == 1) {
            document.getElementById("f1").style.display = "block";
            document.getElementById("f2").style.display = "none";
            document.getElementById("f3").style.display = "none";
            document.getElementById("f4").style.display = "none";
            document.getElementById("f5").style.display = "none";
            document.getElementById("f6").style.display = "none";
            
        }
        if (selopt == 2) {
            document.getElementById("f1").style.display = "none";
            document.getElementById("f2").style.display = "block";
            document.getElementById("f3").style.display = "none";
            document.getElementById("f4").style.display = "none";
            document.getElementById("f5").style.display = "none";
            document.getElementById("f6").style.display = "none";
        }
        if (selopt == 3) {
            document.getElementById("f2").style.display = "none";
            document.getElementById("f1").style.display = "none";
            document.getElementById("f3").style.display = "block";
            document.getElementById("f4").style.display = "none";
            document.getElementById("f5").style.display = "none";
            document.getElementById("f6").style.display = "none";
        }
        if (selopt == 4) {
            document.getElementById("f2").style.display = "none";
            document.getElementById("f1").style.display = "none";
            document.getElementById("f3").style.display = "none";
            document.getElementById("f4").style.display = "block";
            document.getElementById("f5").style.display = "none";
            document.getElementById("f6").style.display = "none";
            }
        if (selopt == 0) {
            document.getElementById("f2").style.display = "none";
            document.getElementById("f1").style.display = "none";
            document.getElementById("f3").style.display = "none";
            document.getElementById("f4").style.display = "none";
            document.getElementById("f5").style.display = "none";
            document.getElementById("f6").style.display = "none";
        }
    }
</script> {% endcomment %}
</body>


{% endblock content %}