{% extends "main/base.html" %}
{% block content %}
{% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
<!-- <link rel="stylesheet" type="text/css" href="../css/style.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> {% endcomment %}

<script type="text/javascript">
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
  // Animate select box length
  var searchInput = $(".search-box input");
  var inputGroup = $(".search-box .input-group");
  var boxWidth = inputGroup.width();
  searchInput.focus(function(){
    inputGroup.animate({
      width: "300"
    });
  }).blur(function(){
    inputGroup.animate({
      width: boxWidth
    });
  });
});
</script>

<body>
        <div class="table-wrapper">
            <div class="table-title d-flex flex-column">
                <div class="row p-2">
                    <div class="col-sm-4">
                      <div class="show-entries">
                        
                        <form action="{% url 'main:purchasing' %}" method = "POST">
                        {% csrf_token %}
                        <span>Show</span>
                        <select name = "drop1">
                          <option value = "5" {% if a == "5" %}selected{%endif%}>5</option>
                          <option value = "10"{% if a == "10" %}selected{%endif%}>10</option>
                          <option value = "15"{% if a == "15" %}selected{%endif%}>15</option>
                          <option value = "20"{% if a == "20" %}selected{%endif%}>20</option>
                        </select>
                        <input type="submit" class="btn btn-outline-dark" value="Submit">
                        </form>
                        
                        
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <h1 class="text-center">Purchases</h1>
                    </div>
          
                    <div class="col-sm-4">
                      <div class="search-box">
                        <div class="input-group">
                            
                            <form method="GET" action="{% url 'main:purchasing' %}">
                            {% csrf_token %}
                            <div class="input-group-addon">
                            <input type="submit" class="fas fa-search">
                            </div>
                            <input type="text" name="q" class="form-control" placeholder="Search . . ." value = "{{request.GET.q}}">                 
                            </form>
                            
                        </div>
                      </div>
                    </div>
                  
                </div>
            </div>
            <div class = "d-flex flex-row-reverse">
              <div class="p-2">
                    <a href="{% url 'main:addItem' category=category subcategory=subcategory %}" class="btn btn-primary" role="button" id="add1">Add record</a>
              </div>
            </div>
            <table class="table table-hover table-bordered mt-4 p-2 mb-2 bg-white">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> PV No. </th>
                        <th> Invoice No. </th>
                        <th> Purchasing Date </th>
                        <th> Supplier Name </th>
                        <th> Description </th>
                        {% comment %} <th> Delete </th>
                        <th> Update </th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                
                  {% for item in items %}
                  <tr> 
                      <td>{{ item.purchasing_id }}</td>
                      <td>{{ item.pv_no }}</td>
                      <td>{{ item.invoice_no }}</td>
                      <td>{{ item.purchasing_date }}</td>
                      <td>{{ item.supplier }}</td>
                      <td>{{ item.description }}</td>             
                  </tr>
                  {% endfor %}

                </tbody>
            </table>
            {% include pag_template %}
      </div>
</body>
{% endblock content %}