{% extends "main/base.html" %}
{% block content %}
{% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
<!-- <link rel="stylesheet" type="text/css" href="../css/style.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> {% endcomment %}


<body>
  <div class="table-wrapper">
    <div class="d-flex justify-content-between">
      <div class = "p-2">
      </div>
      <div class="p-2">
          <h2>Purchasing</h2>
      </div>
      <div class = "p-2 flex-row-reverse">
        <div class="p-2">
              
        </div>
      </div>
    </div>
    <div class="table-title d-flex justify-content-between">
      <div class="col-sm-4 p-2">
        <div class="show-entries">
          
          <form action="" method = "POST">
          {% csrf_token %}
          <span>Show</span>
          <select name = "drop1">
            <option value = "5" {% if displayLimit == "5" %}selected{%endif%}>5</option>
            <option value = "10"{% if displayLimit == "10" %}selected{%endif%}>10</option>
            <option value = "15"{% if displayLimit == "15" %}selected{%endif%}>15</option>
            <option value = "20"{% if displayLimit == "20" %}selected{%endif%}>20</option>
          </select>
          <input type="submit" class="btn btn-outline-dark" value="Submit">
          </form>
        </div>
      </div>
      <div class = "p-2">
      </div>
      <div class="col-sm-4 p-2">
        <div class="search-box">
          <div class="input-group">
              <form method="GET" action="">
              {% csrf_token %}
              <div class="input-group-addon">
              <input type="submit" class="fas fa-search">
              </div>
              <input type="text" name="q" class="form-control" placeholder="Search . . ." value = "{{request.GET.q}}">                 
              </form>
          </div>
        </div>
      </div>     
    </div>
	<div class = "d-flex flex-row-reverse">
		<div class="p-2">
			<a href="{% url 'main:download_csv' subcategory=subcategory %}" class="btn btn-primary" role="button">Download CSV</a>
		</div>
		<div class="p-2">
			<a href="{% url 'main:addItem' category=category subcategory=subcategory %}" class="btn btn-primary" role="button" id="add1">Add record</a>
		</div>
	</div>
    <div style="overflow-x:auto;">
      <table class="table table-hover table-bordered mt-4 p-2 mb-2 bg-white">
          <thead>
              <tr>
                  <th> # </th>
                  <th> PV No. </th>
                  <th> Invoice No. </th>
                  <th> Purchasing Date </th>
                  <th> Description </th>
                  <th> Delete </th>
                  <th> Update </th>
              </tr>
          </thead>
          <tbody>
          {% for dicts in results %}
                <tr>
                    {% for value in dicts.values %}
                        {% if forloop.counter == 1 %}
                            <td>
                                {{ forloop.parentloop.counter }}
                            </td>
                            {% else %}
                            <td>
                                {{ value }}
                            </td>
                        {% endif %}
                    {% endfor %}    
					<!-- Modal prompting user deletion -->
					<td>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal{{dicts.purchasing_id}}">
							Delete
						</button>
						
						<div class="modal fade" id="Modal{{dicts.purchasing_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">Delete Record?</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									<p>Do you want to delete this record? </p>
									<p>PV Number: {{ dicts.pv_no }}</p>
									<p>Invoice Number: {{ dicts.invoice_no }}</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<form action="{% url 'main:deletion' subcategory=subcategory pk=dicts.purchasing_id category=category %}" method="POST">
										{% csrf_token %}
										<input name='pk' value="{{ dicts.purchasing_id }}" hidden>
										<input name='object' value="{{ subcategory }}" hidden>
										<button id="Deletion" class="btn btn-danger" type='submit' name='delete_this'>Delete</button>
									</form>
								</div>
							</div>
							</div>
						</div>
					</td>
                    <td>
                        <form action="{% url 'main:update' subcategory=subcategory pk=dicts.purchasing_id category=category%}" method="GET">
                                {% csrf_token %}
                                <button id="Update" class="btn btn-warning" type='submit' name='update_this'>Update</button>
                        </form>
                    </td>
                </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
    {% include pag_template %}         
</div>
</body>
{% endblock content %}