{% extends "main/base.html" %}

{% block content %}

<div class = "container">
    <!-- Action parameter is to define the script for form processing -->
    <!-- Pass it to a form processing script page -->
    <form action="/index/" method="POST">

        {% csrf_token %}
            {% for field in form %}
            <div>
                <label> {{ field.name }}</label>
                {{ field }}
                <br>

            </div>
                
            {% endfor %}

        <input type="submit" value="Submit">
    </form> 
</div>

<br><br><br>

<div class = "container">
    <table class = 'table'>
        {% for i in result %}
        <tr>
            <td>
                {{ i.0 }}
            </td>

            <td>
                {{ i.1 }}
            </td>

            <td>
                {{ i.2 }}
            </td>

            <td>
                {{ i.3 }}
            </td>

            <td>
                {{ i.4 }}
            </td>
        </tr>
        {% endfor %}


    </table>
    
</div>


{% endblock content %}