{% extends "main/base.html" %}

{% block content %}

<div class = "container">
    <!-- Action parameter is to define the script for form processing -->
    <!-- Pass it to a form processing script page -->
    <form action="/index/" method="POST">

        {% csrf_token %}
            {% for field in form %}
            <div>
                <label> {{ field.name }}</label>
                {{ field }}
                <br>

            </div>
                
            {% endfor %}

        <input type="submit" value="Submit">
    </form> 
</div>

<br><br><br>

<div class = "container">
    <table class = 'table'>
        <tr>
            {% for headers in header_list %}
                    <th> {{ headers }}</th>
            {% endfor %}

        </tr>
        {% for dicts in result %}
            <tr>
                {% for value in dicts.values %}
                    <td>
                        {{ value }}
                    </td>
                {% endfor %}    
            </tr>
        {% endfor %}
    </table>
    
</div>

{% endblock content %}
