{% extends "main/base.html" %}
{% load static %}
{% block content %}
<DOCTYPE!html>
<html>
<head>
</head>
<body>
    
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <div id="Profilecontent"><!-- Container Begins-->
	<p style="text-align:justify;"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp User Profile</p> 
	<img src= "https://www.jing.fm/clipimg/full/115-1153324_computer-icons-user-profile-clip-art-avatar-font.png" alt="This is a test image" height="200" width="200"> <br/>
    
    
    <br/><b>Username</b><br/> {{request.User.username}} <br/>    
    <b>E-mail</b><br/> {{request.User.email}} <br/>
    
    <!--Header-->
    <!--  cp Content Begins-->
    <div title="Change Password">
    <form method="POST" class="form-group">
    <div><b>Change Password</b></div>
    <div><b>Old Password</b>
    <input id="password1" name="password1" type="password" />
    </div>
    <div><b>New Password</b>
    <input id="password2" name="password2" type="password" />
    </div>
    <div><b>Confirm Password</b>
    <input id="cfrmPass" name="cfrmPass" type="password" />
    </div>
    <div class="clear">&nbsp;</div>
    </div>
    <div class="clear"></div>
    <div>
    <input class="buttn " type="button" name="submit" value="Submit" onclick="location.href=''"/>
                         
    </div>
    </form>
<!--Subcontent Ends-->
    
<!--Main Content Ends-->

</body>
</div>




{% endblock content%}