{% extends "main/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<head>
    <title> User Profile </title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>

<body>
<div class="content-wrapper ">
    <div class="container-fluid d-flex justify-content-center flex-column align-items-center"><!-- Container Begins-->
        <div>
        <h1 style="text-align:justify;">User Profile</h1><br>
        </div>
        <!--Header-->
        <!--  cp Content Begins-->
        <div class = "d-flex flex-column">
            <div class = "p-2 d-flex justify-content-center">
            
            <img src= "{{ request.user.staff.profile_pic.url }}" alt="This is the default userprofile picture" height="200" width="200">
            
            </div>
            <div class = "p-2">
            {% comment %} <p><b>Username: </b></p> {{request.user.username}}  
            </div>
            <div class = "p-2">
            <p><b>E-mail: </b></p> {{request.user.email}} {% endcomment %}
            <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <div class = " d-flex justify-content-center">
            <input class = "btn btn-primary" type ="submit" name="Update Information">
            </div>
            </form>
            </div>
        
            <div class = "p-2">
        
                <form method="POST" class="form-group">
                    <p><b>Change Password</b></p>
                    <div class = " d-flex justify-content-center">
                        <input class="btn btn-info" type="button" name="submit" value="Change your password" onclick="location.href='/password_change/'"/>           
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>    
<!--Subcontent Ends-->
    
<!--Main Content Ends-->

</body>

{% endblock content%}